entrypoint = "main.py"
modules = ["python-3.10", "nix"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 8080
externalPort = 80
