annotated-types==0.6.0
anyio==3.7.1
asgiref==3.7.2
blinker==1.8.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
config==0.5.1
distro==1.8.0
Django==4.2.7
django-concurrent-server==0.1.4
django-haystack==2.0.0
django-nvd3==0.9.7
django-taggit==5.0.1
django-taggit-machinetags==1.0.0
django-tests-assistant==0.3.0
exceptiongroup==1.1.3
Flask==3.0.3
functions==0.7.0
h11==0.14.0
httpcore==1.0.2
httpx==0.25.1
idna==3.4
itsdangerous==2.2.0
Jinja2==3.1.4
Markdown==3.5.1
MarkupSafe==2.1.5
openai==1.3.0
packaging==23.2
pydantic==2.5.1
pydantic_core==2.14.3
python-nvd3==0.14.2
python-slugify==1.1.4
requests==2.31.0
sniffio==1.3.0
sqlparse==0.4.4
tqdm==4.66.1
typing_extensions==4.8.0
unicodecsv==0.14.1
Unidecode==1.3.7
urllib3==2.2.2
Werkzeug==3.0.3
Whoosh==2.4.0
hubspot-api-client==9.0.0
python-dateutil==2.9.0.post0
six==1.16.0
